<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}} 
            <p>Use this site to get your weather!</p>

            <!--表單-->
            <form>
                <input placeholder="Location"> <!--填寫欄位內的提示字-->
                <button>search</button>
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>

        {{>footer}}

        <script src="/js/app.js"></script> <!-- <script> 遷入或是引用要執行的code，在此會連結到前端js的操作-->
    </body>
</html>